/* needed for the information in the body for all 3 pages */
index.html
body {
    background: lightgray;
    color: #007bff
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

/* This is the header titles, i.e. About, Portfolio and Contact */
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #4aaaa5;
    margin: 10px 0px 30px 0px;
}


/* Container for About Me section */
#container {
    height: 400px;
    max-width: 100%;
    width: 960px;
    background: #fff;
    overflow: auto;
    margin: 0 auto;
}
/* Container for pictures of TMNT in Portfolio*/
#portfolioContainer {
    height: 700px;
    max-width: 100%;
    width: 960px;
    background: #fff;
    overflow: auto;
    margin: 0 auto;
}
/* Section for Container for About Me section */
.about {
    padding: 20px;
}
/* For Eiffel tower picture in the About Me section */
#bio-image {
    float: left;
    padding: 15px;
    width: 200px;
    height: 200px;
}

footer {
    width: 100%;
    height: 40px;
    text-align: center;
    z-index: 2;
    border-top: 3px solid #4aaaa5;
    background-color: #007bff;
    color: #FFFFFF;
    padding: 7px;
    position: fixed;
    clear: both;
    bottom: 0px;
   
/* contact.html/
/* Contact Page Input tags */
/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  /* Container for Contact form */
  .containerclass {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 100%;
    width: 960px;
    background: #fff;
    overflow: auto;
    margin: 0 auto;
  }
/* contact.html */

/* Portfolio.html */
/* box for Pictures in Portfolio page */
.box {
    background-color: #eee; 
    width: 275px;
    height: 200px; 
    margin: 10px 10px 10px 10px; 
    position: relative;
}
/* Box one picture */
.one {
    background-image: url("../images/Raphael.png"); 
}
/* Box two picture */
.two {
    background-image: url("../images/Donatello.png"); 
}
/* Box three picture */
.three {
    background-image: url("../images/Leonardo.png"); 
}
/* Box four picture */
.four {
    background-image: url("../images/Michaelangelo.png"); 
}
/* Box five picture */
.five {
    background-image: url("../images/TMNT!.png"); 
}
/* Container for boxes of Pictures on Portfolio page */
#portfolio {
    display: flex;
    flex-wrap: wrap;
}

/* Text for boxes of Pictures on Portfolio Page (i.e. the names of the TMNT) */
.boxText {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: #fff; 
    padding: 15px; 
    background-color: #4aaaa5; 
    position: absolute; 
    bottom: 7px; 
    width: 245px; 
    text-align: center; 
}
.figcaption {
    font-family: fantasy;
    padding: 5px;
    text-align: center;
    font-size: large;
}
img.card-img-top {
    align-content: center;
    height: 250px;
    width: 250px;
}

.card-body {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: ;
}
.container {
    width: 960px;
    height: fit-content;
}
/* Portfolio.html */
/* .flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */

/* } */







/* #AboutMe {
    color: lightseagreen;
} */







/* .thisisnotusedYET {height: auto;
width: 960px;
background: darkgray;
padding: 20px;
margin: 0 auto;
} */

/* .container2 {
    background: whitesmoke;
    width: 400px;
    height: 400px;
    overflow: auto;
}

#floated {
    float: left;
    width: 100px;
    background: red;
}

/* #container{
    width: 400px;
    background: yellow;
}
#floated{
    float: left;
    width: 150px;
    background: red;
} */
    
/* }

.JoshuaKuruvilla {
    font-size: 48px;
    float: left;

} */

/* #party { */
    /* image-resolution: ; */
/* } */ 


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

